@model Offers.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h4>ΣΤΟΙΧΕΙΑ ΕΤΑΙΡΙΑΣ</h4>
<hr />
<div>


    <dl class="row">
        <dt class="col-sm-2">
            @Html.Label("ΕΤΑΙΡΙΑ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.Label("ΑΦΜ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AFM)
        </dd>
        <dt class="col-sm-2">
            @Html.Label("ΤΗΛΕΦΩΝΟ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.Label("ΔΙΕΥΘΥΝΣΗ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.Label("EMAIL")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.Label("ΣΗΜΕΙΩΣΕΙΣ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
